.aboutPageDiv {
    background-image: url('assert/modern-circuit-board-hardware-62Z2WP5.jpg');
    background-repeat: no-repeat;
    height: 350px;
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center;
    background-color: #1e1e1e;
}

.aboutPageText {
    color: white;
    align-items: center;
    padding-left: 630px;
    padding-top: 600px;
    font-size: 50px;
    font-family: 'Adamina', Georgia, "Times New Roman", serif;
    position: relative;
}

.yourJourneyAtNagpurIT {
    font-family: 'Adamina', Georgia, "Times New Roman", serif;
    font-weight: 700;
    color: #ff7900;
    justify-content: center;
    margin-left: 30px;
    line-height: 3.2em;

}

.yourJourneyAtNagpurITDiv {
    flex-wrap: wrap;
    margin-right: 80px;
    display: flex;
}

.learningDiv {
    border-width: 3px;
    margin-left: 80px;
    height: fit-content;
    width: 200px;
    border-style: solid;
    border-color: #0f3a5d;
}

.practiceDiv {
    border-width: 3px;
    margin-left: 80px;
    height: fit-content;
    width: 200px;

    margin-top: 50px;
    border-style: solid;
    border-color: #ff7900;
}

.image {
    width: 150px;
    margin-top: 5px;
    height: 50px;
    margin-left: 5px;
}

.learningText {
    font-family: 'Adamina', Georgia, "Times New Roman", serif;
}

.description {
    color: white;
    font-size: 14px;
    margin-top: 5px;
    font-family: 'Adamina', Georgia, "Times New Roman", serif;
}

.practiceText {
    font-family: 'Adamina', Georgia, "Times New Roman", serif;
}

.aboutNagpurIT {
    width: 1000px;
    height: 500px;
    justify-content: center;
    margin: 100px auto 1em;

}

.descriptionOne {
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Adamina', Georgia, "Times New Roman", serif;
}

.works-about-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #212121;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.worksAboutDiv {
    display: flex;
    background: #212121;
}

.ashishSirImage {
    width: 80%;
    margin-bottom: 20px;
    image-rendering: high-quality;
}

.works-about-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.works-about-description-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

.worksAboutText {
    color: #ff6600;
    font-size: 14px;
    padding-bottom: 30px;
    font-family: 'Adamina', Georgia, "Times New Roman", serif;
}

.works-about-outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works-about-accomplishments {
    display: flex;
    flex-direction: row;
}

.experience {
    margin-bottom: 40px;
    font-size: 37px;
    color: white;
    font-family: 'Adamina', Georgia, "Times New Roman", serif;
}

.experience-text {
    font-size: 14px;
    color: white;
    font-family: 'Adamina', Georgia, "Times New Roman", serif;
}

.rightImage {
    width: 32px;
    height: 32px;
    color: white;
    /*margin-left: 80px;*/
    border-radius: 20px;
}

.rightDiv {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.rightText {
    margin-left: 10px;
    color: white;
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Adamina', Georgia, "Times New Roman", serif;
}

.works-about-full-profile {
    background: #0D3F66;
    padding: 6px 20px;
    font-size: 20px;
    font-family: 'Adamina', Georgia, "Times New Roman", serif;
    color: #FFFFFF;
    border-width: 0;
    margin-top: 20px;
    text-decoration: none;
}

.works-about-full-profile:hover {
    background: #0D3F66;
    padding: 6px 20px;
    font-size: 20px;
    font-family: 'Adamina', Georgia, "Times New Roman", serif;
    color: #FFFFFF;
    border-width: 0;
    margin-top: 20px;
    text-decoration: none;
}

@media only screen and (min-width: 992px) {
    .works-about-outer-container {
        flex-direction: row;
        width: 90%;
        align-items: flex-start;
    }

    .worksAboutDiv {
        justify-content: center;
    }

    .works-about-description-container {
        min-width: 375px;
    }

    .works-about-image-container {
        padding-top: 0;
        min-width: 375px;
    }

    .ashishSirImage {
        width: 80%;
        margin-bottom: 20px;
        image-rendering: high-quality;
    }
}

@media only screen and (min-width: 1200px) {
    .ashishSirImage {
        min-width: 454px;
    }

    .works-about-description-container {
        min-width: 454px;
    }
}

@media only screen and (min-width: 1400px) {
    .ashishSirImage {
        width: 510px;
    }

    .works-about-description-container {
        max-width: 510px;
        margin-left: 60px;
    }

    .worksAboutDiv {
        width: 100%;
        justify-content: center;
    }

    .works-about-outer-container {
        justify-content: center;
    }
}

.backgroundExpert {
    background-image: url('assert/Untitled-design-26.png');
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    background-size: cover;
    margin-top: 50px;
    background-attachment: fixed;
    background-color: #525050;
    padding: 70px;
}

.expertDiv {
    width: 1200px;
    height: 500px;
    margin-left: 200px;
    padding-top: 50px;
    flex-direction: row;
    display: flex;

}

.priyankaMadam {
    margin-left: 150px;
    margin-top: 57px;
}

.expertImage {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
    position: relative;

}

.expertTextDiv {
    margin-left: 50px;
}

.meetTeam {
    background-color: #ff7900;
    width: 120px;
    height: 30px;
    margin-left: 23px;

}

.TeamText {
    padding-left: 10px;
    font-size: 18px;
    padding-top: 5px;
    color: white;
    font-family: 'Adamina', Georgia, "Times New Roman", serif;
    font-weight: 100;
}

.font {
    font-family: 'Adamina', Georgia, "Times New Roman", serif;

}
